/* ここから下に記載していく */

/* サイト幅を1200pxにする */
body{
    width: 1200px;
    margin: auto
}

/* ！ヘッダーロゴ画像の余白の設定⇨微妙に画像が伸びるのをなんとかしたい */
.header-logo{
   
   padding-top: 25px;
   padding-bottom: 25px; 
   float: left;
}

.logo{width: 270px;}

   /* リストを作る */


li{
    list-style: none;
    display: flex;
    float: left;
    
    font-size: 21px;
    padding: 50px; 
}
.list{height: 110px;}

/* 世界を変えるチーズを作るの部分 */
.top-wrapper{
    width: 1200px;
    height: 100px;
    padding: 100px 0px;
    background-image: url(../../html_Michibayashi_28/img/mainbg.png);
    background-size: cover;
}

.top-wrapper h1 {
    color:white;
    opacity: 0.9;
    font-size: 45px;
    letter-spacing: 5px;
    padding-bottom: 45px;
    font-weight: bold;
  }

  
.top-wrapper p {
    opacity: 0.9;
    color: white;
    font-size: 35px;
    font-weight: lighter;
  }

.container {
    width: 1200px;
    text-align:center;    
    margin: 10px auto;           
   }    

   /* ！アバウトのところ⇨行ごとに行間を変える方法がわからない・・・ */
.about-wrapper{
    text-align:center;
}
  .about-wrapper h1{
      font-size: 24px;
      color:#ffd61a;
      font-weight: bold;
      padding-top: 60px;
      padding-bottom: 30px;
      
  }
  .about-wrapper h2{
      font-size: 18px;
      color: #222222;
      padding-bottom: 60px;
  }

  .about-wrapper p{
      font-size: 16px;
      color: #222222;
      padding: 40px;
  }
  .about-wrapper h3{
    font-size: 16px;
    color: #222222;
    padding-bottom: 10px;
}
.about-wrapper h4{
    font-size: 16px;
    color: #222222;
    padding-top: 30px;
    padding-bottom: 40px;
}
.about-wrapper h5{
    font-size: 16px;
    color: #222222;
}
.about-wrapper h6{
    font-size: 16px;
    color: #222222;
    padding-top: 10px;
    padding-bottom: 80px;
}

/* aboutの下の画像をよこならびにする⇨画像の間の白はなくせてない＆上手く切り取りできてない */
.under-about{
    display: flex;
}
.about-item04{
    width: 250px;
    object-fit: cover;
}

.about-item01{
    width: 250px;
    object-fit: cover;
}

/* コース（文字だけ） */
.course-wrapper{
    text-align:center;
}
.course-wrapper h1 {
    font-size: 24px;
    font-weight: bold;
    color: #222222;
    padding-top: 60px;
    padding-bottom: 20px;
}
.course-wrapper p{
    font-size: 16px;
    color: #222222;
    padding: 10px;
}

/* コースの２段組のところの１段目 */
.course-container{
    display: flex;
    padding-top: 60px;
}

.course01-contents{
    background-color: #fafafa;
    height: auto;
    width: 600px;
    padding-left: 50px;
}
.course01-contents h1{
    font-size: 24px;
    font-weight: bold;
    color: #222222;
    padding-top: 120px;
    padding-bottom: 40px;
    padding-left: 50px;

}

.course01-contents p{
    font-size: 16px;
    color: #222222;
    padding-left: 50px;
    padding-right: 120px;
    line-height: 24px;
}

/* ２列目を横並びに */
.course-container02{
    display: flex;
}

.course02-contents{
    background-color: #fafafa;
    height: auto;
    width: 600px;
    padding-left: 50px;
}

.course02-contents h1{
    font-size: 24px;
    font-weight: bold;
    color: #222222;
    padding-top: 120px;
    padding-bottom: 40px;
    padding-left: 50px;
} 

.course02-contents p{
    font-size: 16px;
    color: #222222;
    padding-left: 50px;
    padding-right: 120px;
    line-height: 24px;
}

/* コース３列目 */

.course-container03{
    display: flex;
}

.course03-contents{
    background-color: #fafafa;
    height: auto;
    width: 600px;
    padding-left: 50px;
}
.course03-contents h1{
    font-size: 24px;
    font-weight: bold;
    color: #222222;
    padding-top: 120px;
    padding-bottom: 40px;
    padding-left: 50px;

}

.course03-contents p{
    font-size: 16px;
    color: #222222;
    padding-left: 50px;
    padding-right: 120px;
    line-height: 24px;
}


/* ニュース⇨たくさんコンテンツを分けてフレックスボックスを使おう */
.news-wrapper h1{
    font-size: 24px;
    color: #ffd61a;
    font-weight: bold;
    padding-top: 60px;
    padding-bottom: 30px;
    text-align:center; 
}



.news-wrapper2 {
    font-size: 16px;
    color: #222222;
    padding-top: 30px;
    text-align:center;
}


.news-wrapper p{
    font-size: 16px;
    color: #222222;     
}

.news-container{
    display: flex;
    gap: 30px;
    padding-bottom: 60px;
    padding-top: 60px;
}

.news-container h2{
    padding-top: 30px;
    padding-bottom: 27px ;
}

.news-container h3{
    line-height: 24px; 
    width: 300px;  
}
    
.news-topic1{  
    /* .hover 入れる */
        display: inline-block;
        padding: 0.6em 2em;
        margin: 0 0 1em;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
    .news-topic1:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-0.1875em);
    }
    /* .hover 終わり */

.news-topic2{    
    display: inline-block;
    padding: 0.6em 2em;
    margin: 0 0 1em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.news-topic2:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-0.1875em);
}

.news-topic3{
    display: inline-block;
    padding: 0.6em 2em;
    margin: 0 0 1em;
    cursor: pointer;
    transition: all 0.3s ease 0s;
}
.news-topic3:hover {
    box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
    transform: translateY(-0.1875em);
}

/* 参考サイト⇨https://www.webcreatorbox.com/tech/css-flexbox-cheat-sheet#flexbox1 */

.news-container-button-center{
    text-align:center; 
    font-size: 18px;
}

.news-container-button{  
    text-align:center; 
    vertical-align: middle;
    font-size: 18px;  
    width: 300px;
    height: 60px;
    
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
        background-color:#ffd61a;
        color: #fff;
        display: inline-block;
        padding: 0.6em 2em;
        margin: 0 0 1em;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
.news-container-button:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-0.1875em);
    }

.news-container-button{
        line-height: 60px;
        font-size: 24px;
        font-weight: bold;
    }
        
/* ボタンの真ん中に文字を配置する方法がわからない */

/* ACCESS */

.access-wrapper{
    background-color: #fafafa;
}

.access-wrapper-text{
    color: #222222;
    text-align: center;
}

.access-wrapper-text h1{
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: bold;
}
.access-wrapper-text h2{
    font-size: 16px;
    padding-bottom: 60px;
}

.access-wrapper-text p{
    font-size: 16px;
    padding-bottom: 30px;}

.maps{
    padding-bottom: 60px;
}

/* コンタクト設計 */
.contact-wrapper{
    text-align: center;
    color:#222222
}
    

.contact-wrapper h1{
    font-size: 24px;
    padding-top: 60px;
    padding-bottom: 30px;
    font-weight: bold;
}

.contact-wrapper h2{
    font-size: 16px;
    padding-bottom: 60px;
}

.contact-wrapper h3{
    font-size: 16px;
    padding-bottom: 30px;
}

.contact-wrapper h4{
    font-size: 16px;
    padding-bottom: 70px;
}



/* コンタクトフォーム */

.contact-table {
    width: 568px;
    margin-bottom: 30px;
    margin: auto;
  }
.contact-item,
.contact-body {
      padding: 20px;
      border: 1px solid #ccc;
}
  
.contact-item {
      text-align: left;
      width: 30%;
      background-color: #eee;
}
  
.contact-body {
      width: 70%;
      text-align: left;
  }

.form-text {
    width: 90%;
    padding: 8px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
    max-width: 400px;
}

.contact-item{
   text-align: left;
   vertical-align: middle;
}

.form-select {
    width: 95%;
    height: 40px;
    padding: 5px;
    border: 1px solid #ccc;
    border-radius: 5px;
}

.contact-purpose {
    display: block;
}

.contact-purpose + .contact-purpose {
    margin-top: 10px;
}

.contact-purpose-txt {
    margin-left: 5px;
}

.form-textarea {
    width: 90%;
    padding: 10px;
    height: 200px;
    border-radius: 5px;
    border: 1px solid #ccc;
    appearance: none;
    -webkit-appearance: none;
    -moz-appearance: none;
}

/* 送信ボタン */
.contact-button{  
   
    text-align:center; 
    vertical-align: middle;
    font-size: 18px;  
    width: 300px;
    height: 60px;
        box-shadow: 0 0 3px 0 rgba(0, 0, 0, 0.25);
        background-color:#ffd61a;
        color: #fff;
        display: inline-block;
        padding: 0.6em 2em;
        margin: 30px 0 140px;
        cursor: pointer;
        transition: all 0.3s ease 0s;
    }
.contact-button p{
    line-height: 60px;
    font-size: 24px;
    font-weight: bold;
}
.contact-button:hover {
        box-shadow: 0 3px 6px 0 rgba(0, 0, 0, 0.25);
        transform: translateY(-0.1875em);
}

/* フッター */
.footer{
    background-color: #707070;
    padding: 30px;
    font-size: 16px;
    text-align: center;
    color:whitesmoke 
}